.portfolio-container{
    max-width: 90vw;
    min-width: 90vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
 
.portfolio-container a {
    color: #f3b61f;
}

.portfolio-container article.portfolio-item {
    color: #f2f2f2;
    background-color: #0e3d44;
    filter: drop-shadow(0em 0em 1em #f2f2f2);
    width: fit-content;
    max-width: 20vw;
    min-width: 15vw;
    border-radius: 10%;
    padding: 2em;
    margin: 1em;
    text-align: center;
    font-size: small;
}

article.portfolio-item h4, article.portfolio-item h5, article.portfolio-item h6{
    color: #f2f2f2;
    padding: 0.5em;
}
  
article.portfolio-item img{
    max-width: 3em;
}


